namespace: datum-cloud

patches:
  - patch: |-
      - op: add
        path: /metadata/annotations/taxonomy.miloapis.com~1sort-order
        value: "60"
      - op: add
        path: /metadata/annotations/taxonomy.miloapis.com~1product
        value: "Manage Projects"
      - op: add
        path: /spec/inheritedRoles
        value:
          - name: resourcemanager.miloapis.com-organization-viewer
            namespace: milo-system
    target:
      kind: Role
      name: resourcemanager.miloapis.com-project-viewer
  - patch: |-
      - op: add
        path: /metadata/annotations/taxonomy.miloapis.com~1sort-order
        value: "50"
      - op: add
        path: /metadata/annotations/taxonomy.miloapis.com~1product
        value: "Manage Projects"
      - op: add
        path: /spec/inheritedRoles
        value:
          - name: resourcemanager.miloapis.com-organization-viewer
            namespace: milo-system
    target:
      kind: Role
      name: resourcemanager.miloapis.com-project-admin
  - patch: |-
      - op: add
        path: /metadata/annotations/taxonomy.miloapis.com~1sort-order
        value: "100"
      - op: add
        path: /metadata/annotations/taxonomy.miloapis.com~1product
        value: "Monitor & Observe"
      - op: add
        path: /spec/inheritedRoles
        value:
          - name: resourcemanager.miloapis.com-organization-viewer
            namespace: milo-system
          - name: resourcemanager.miloapis.com-project-viewer
            namespace: milo-system
    target:
      kind: Role
      name: telemetry.miloapis.com-viewer
  - patch: |-
      - op: add
        path: /metadata/annotations/taxonomy.miloapis.com~1sort-order
        value: "90"
      - op: add
        path: /metadata/annotations/taxonomy.miloapis.com~1product
        value: "Monitor & Observe"
      - op: add
        path: /spec/inheritedRoles
        value:
          - name: resourcemanager.miloapis.com-organization-viewer
            namespace: milo-system
          - name: resourcemanager.miloapis.com-project-viewer
            namespace: milo-system
    target:
      kind: Role
      name: telemetry.miloapis.com-admin
  - patch: |-
      - op: add
        path: /metadata/annotations/taxonomy.miloapis.com~1sort-order
        value: "80"
      - op: add
        path: /metadata/annotations/taxonomy.miloapis.com~1product
        value: "Configure Networking"
      - op: add
        path: /spec/inheritedRoles
        value:
          - name: resourcemanager.miloapis.com-organization-viewer
            namespace: milo-system
          - name: resourcemanager.miloapis.com-project-viewer
            namespace: milo-system
    target:
      kind: Role
      name: networking.datumapis.com-viewer
  - patch: |-
      - op: add
        path: /metadata/annotations/taxonomy.miloapis.com~1sort-order
        value: "70"
      - op: add
        path: /metadata/annotations/taxonomy.miloapis.com~1product
        value: "Configure Networking"
      - op: add
        path: /spec/inheritedRoles
        value:
          - name: resourcemanager.miloapis.com-organization-viewer
            namespace: milo-system
          - name: resourcemanager.miloapis.com-project-viewer
            namespace: milo-system
    target:
      kind: Role
      name: networking.datumapis.com-admin
  - patch: |-
      - op: add
        path: /metadata/annotations/taxonomy.miloapis.com~1sort-order
        value: "82"
      - op: add
        path: /metadata/annotations/taxonomy.miloapis.com~1product
        value: "Configure Networking"
      - op: add
        path: /spec/inheritedRoles
        value:
          - name: resourcemanager.miloapis.com-organization-viewer
            namespace: milo-system
          - name: resourcemanager.miloapis.com-project-viewer
            namespace: milo-system
    target:
      kind: Role
      name: networking.datumapis.com-gateway-viewer
  - patch: |-
      - op: add
        path: /metadata/annotations/taxonomy.miloapis.com~1sort-order
        value: "72"
      - op: add
        path: /metadata/annotations/taxonomy.miloapis.com~1product
        value: "Configure Networking"
      - op: add
        path: /spec/inheritedRoles
        value:
          - name: resourcemanager.miloapis.com-organization-viewer
            namespace: milo-system
          - name: resourcemanager.miloapis.com-project-viewer
            namespace: milo-system
    target:
      kind: Role
      name: networking.datumapis.com-gateway-admin
  - patch: |-
      - op: add
        path: /metadata/annotations/taxonomy.miloapis.com~1sort-order
        value: "84"
      - op: add
        path: /metadata/annotations/taxonomy.miloapis.com~1product
        value: "Configure Networking"
      - op: add
        path: /spec/inheritedRoles
        value:
          - name: resourcemanager.miloapis.com-organization-viewer
            namespace: milo-system
          - name: resourcemanager.miloapis.com-project-viewer
            namespace: milo-system
    target:
      kind: Role
      name: networking.datumapis.com-domain-viewer
  - patch: |-
      - op: add
        path: /metadata/annotations/taxonomy.miloapis.com~1sort-order
        value: "74"
      - op: add
        path: /metadata/annotations/taxonomy.miloapis.com~1product
        value: "Configure Networking"
      - op: add
        path: /spec/inheritedRoles
        value:
          - name: resourcemanager.miloapis.com-organization-viewer
            namespace: milo-system
          - name: resourcemanager.miloapis.com-project-viewer
            namespace: milo-system
    target:
      kind: Role
      name: networking.datumapis.com-domain-admin
  - patch: |-
      - op: add
        path: /metadata/annotations/taxonomy.miloapis.com~1sort-order
        value: "110"
      - op: add
        path: /metadata/annotations/taxonomy.miloapis.com~1product
        value: "Configure DNS"
      - op: add
        path: /spec/inheritedRoles
        value:
          - name: resourcemanager.miloapis.com-organization-viewer
            namespace: milo-system
          - name: resourcemanager.miloapis.com-project-viewer
            namespace: milo-system
    target:
      kind: Role
      name: dns.networking.miloapis.com-dnszone-viewer
  - patch: |-
      - op: add
        path: /metadata/annotations/taxonomy.miloapis.com~1sort-order
        value: "112"
      - op: add
        path: /metadata/annotations/taxonomy.miloapis.com~1product
        value: "Configure DNS"
      - op: add
        path: /spec/inheritedRoles
        value:
          - name: resourcemanager.miloapis.com-organization-viewer
            namespace: milo-system
          - name: resourcemanager.miloapis.com-project-viewer
            namespace: milo-system
    target:
      kind: Role
      name: dns.networking.miloapis.com-dnszone-admin
  - patch: |-
      - op: add
        path: /metadata/annotations/taxonomy.miloapis.com~1sort-order
        value: "114"
      - op: add
        path: /metadata/annotations/taxonomy.miloapis.com~1product
        value: "Configure DNS"
      - op: add
        path: /spec/inheritedRoles
        value:
          - name: resourcemanager.miloapis.com-organization-viewer
            namespace: milo-system
          - name: resourcemanager.miloapis.com-project-viewer
            namespace: milo-system
    target:
      kind: Role
      name: dns.networking.miloapis.com-dnsrecordset-viewer
  - patch: |-
      - op: add
        path: /metadata/annotations/taxonomy.miloapis.com~1sort-order
        value: "116"
      - op: add
        path: /metadata/annotations/taxonomy.miloapis.com~1product
        value: "Configure DNS"
      - op: add
        path: /spec/inheritedRoles
        value:
          - name: resourcemanager.miloapis.com-organization-viewer
            namespace: milo-system
          - name: resourcemanager.miloapis.com-project-viewer
            namespace: milo-system
    target:
      kind: Role
      name: dns.networking.miloapis.com-dnsrecordset-admin

resources:
  - namespace.yaml
  # Grant authenticated users access to these roles
  - role-access/viewer-role.yaml
  - role-access/viewer-role-binding.yaml

  # Top-level owner / viewer roles for each permission management
  - roles/datum-cloud-owner.yaml
  - roles/datum-cloud-viewer.yaml
  - roles/organization-admin.yaml
  - roles/organization-viewer.yaml

  # Project roles
  - https://raw.githubusercontent.com/datum-cloud/milo/refs/tags/v0.5.3/config/roles/project-viewer.yaml
  - https://raw.githubusercontent.com/datum-cloud/milo/refs/tags/v0.5.3/config/roles/project-admin.yaml

  # Telemetry roles
  - https://raw.githubusercontent.com/datum-cloud/telemetry-services-operator/refs/tags/v0.2.0/config/iam/roles/telemetry-viewer.yaml
  - https://raw.githubusercontent.com/datum-cloud/telemetry-services-operator/refs/tags/v0.2.0/config/iam/roles/telemetry-admin.yaml

  # Networking roles
  #
  # TODO: Point to release version once tagged
  - https://raw.githubusercontent.com/datum-cloud/network-services-operator/refs/heads/main/config/iam/roles/gateway-viewer.yaml
  - https://raw.githubusercontent.com/datum-cloud/network-services-operator/refs/heads/main/config/iam/roles/gateway-admin.yaml
  - https://raw.githubusercontent.com/datum-cloud/network-services-operator/refs/heads/main/config/iam/roles/domain-viewer.yaml
  - https://raw.githubusercontent.com/datum-cloud/network-services-operator/refs/heads/main/config/iam/roles/domain-admin.yaml
  - https://raw.githubusercontent.com/datum-cloud/network-services-operator/refs/heads/main/config/iam/roles/networking-viewer.yaml
  - https://raw.githubusercontent.com/datum-cloud/network-services-operator/refs/heads/main/config/iam/roles/networking-admin.yaml

  # DNS roles
  - https://raw.githubusercontent.com/datum-cloud/dns-operator/refs/tags/v0.1.0/config/iam/roles/dnszone-viewer.yaml
  - https://raw.githubusercontent.com/datum-cloud/dns-operator/refs/tags/v0.1.0/config/iam/roles/dnszone-admin.yaml
  - https://raw.githubusercontent.com/datum-cloud/dns-operator/refs/tags/v0.1.0/config/iam/roles/dnsrecordset-viewer.yaml
  - https://raw.githubusercontent.com/datum-cloud/dns-operator/refs/tags/v0.1.0/config/iam/roles/dnsrecordset-admin.yaml
