namespace: datum-cloud

resources:
  - namespace.yaml
  # Grant authenticated users access to these roles
  - role-access/viewer-role.yaml
  - role-access/viewer-role-binding.yaml

  # Top-level owner / viewer roles for each permission management
  - roles/datum-cloud-owner.yaml
  - roles/datum-cloud-editor.yaml
  - roles/datum-cloud-viewer.yaml
