apiVersion: quota.miloapis.com/v1alpha1
kind: GrantCreationPolicy
metadata:
  name: personal-organization-dns-quota-policy
  labels:
    app.kubernetes.io/name: datum
    app.kubernetes.io/component: quota-system
spec:
  trigger:
    resource:
      apiVersion: resourcemanager.miloapis.com/v1alpha1
      kind: Project
  target:
    parentContext:
      apiGroup: "resourcemanager.miloapis.com"
      kind: "Project"
      nameExpression: "trigger.metadata.name"
    resourceGrantTemplate:
      metadata:
        name: "default-dns-quota-{{ trigger.metadata.name }}"
        namespace: milo-system
        annotations:
          kubernetes.io/description: "DNS quota allocation for Personal org project"
      spec:
        consumerRef:
          apiGroup: resourcemanager.miloapis.com
          kind: Project
          name: "{{ trigger.metadata.name }}"
        allowances:
          - resourceType: dns.networking.miloapis.com/dnszones
            buckets:
              - amount: 25
          - resourceType: dns.networking.miloapis.com/dnsrecordsets
            buckets:
              - amount: 500


